<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="background: #ffffff !important;
box-shadow: 4px 0px 12px 0px #00000014;">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4"
    >
      <!-- Left -->
      
      <!-- Left -->
  
      <!-- Right -->
     
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4" style="text-align: center;
            display: flex;
            justify-content: center;">
              LOGO
            </h6>          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Conoce más
            </h6>
            <p>
              Nuestra Visión
                Cómo vender
                Cómo comprar
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Seguridad en
            </h6>
            <p>
              <a href="#!" class="text-reset">Envíos
                Formas de pago
                Garantías y Devoluciones</a>
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Contactanos
            </h6>
            <p>Teléfono: 123-456-7890
                Correo: mail&#64;mail.com 
                </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Privacidad
            </h6>
            <p>Aviso de privacidad 
                Términos y Condiciones</p>
           
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                SOCIAL
            </h6>
            <div>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-x"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-tiktok"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
                </a>
                
              </div>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
     <div class="container">
        <hr style="border: 1px solid #D8FF00">
     </div>
     
    <div class="text-center p-4 copyR">
        Copyright 2023 , All Rights Reserved
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->