<app-header></app-header>
<div class="container">
    <div class="row spacer">

    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <div class="row">

            <span class="redHatFont">Hola, te pedimos algunos datos para crear una cuenta de marca</span>
           <hr style="
           background-color: #D8FF00 !important;
                color: #D8FF00 !important;
                height: 5px;
                border: 0 none;
                opacity: 1;
    ">
                
            </div>
            <div class="row">
                <div class="card" style="width:100%">
                    <div class="card-body">
                      <h5 class="card-title redHatFontTitulos">Información de la empresa</h5>
                      <div class="spacer2"></div>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->                      
                      <form>
                        <div class="row">
                          <div class="col">
                            <label > Nombre Comercial</label>
                            <input type="text" class="form-control size-btn redHatFontInput" placeholder="Nombre Comercial">
                            
                            </div>
                          <div class="col">
                            <label > Teléfono de la empresa</label>
                            <input type="text" class="form-control size-btn redHatFontInput" placeholder="Teléfono">
                          </div>
                          <div class="col">
                            <label > CSF</label>
                            <div class="upload-btn-wrapper">
                                <button class="boton-standar-rw redHatFontbtn">Upload</button>
                                <input  class="form-control upload-file-buton" type="file">
                               </div>
                          </div>
                        </div>
                        <div class="spacer2"></div>
                        <div class="row">
                            <div class="col">
                              <label > Identificación Oficial</label>
                              <div class="upload-btn-wrapper">
                                  <button class="boton-standar-rw redHatFontbtn">Upload</button>
                                  <input  class="form-control upload-file-buton" type="file">
                                 </div>
                            </div>
                          </div>
                          <div class="spacer2"></div>
                          <h5 class="card-title redHatFontTitulos">Dirección</h5>
                          <div class="row">
                            <div class="col">
                              <label > Calle</label>
                              <input type="text" class="form-control size-btn redHatFontInput" placeholder="Calle">
                              
                              </div>
                            <div class="col">
                              <label > Número exterior</label>
                              <input type="text" class="form-control size-btn redHatFontInput" placeholder="Número exterior">
                            </div>
                           
                          </div>
                          <div class="row">
                            <div class="col">
                              <label > Número interior</label>
                              <input type="text" class="form-control size-btn redHatFontInput" placeholder="Número interior">
                              
                              </div>
                            <div class="col">
                              <label > Colonia</label>
                              <input type="text" class="form-control size-btn redHatFontInput" placeholder="Colonia">
                            </div>
                           
                          </div>
                          <div class="row">
                            <div class="col">
                              <label > Código Póstal</label>
                              <input type="text" class="form-control size-btn redHatFontInput" placeholder="CP">
                              
                              </div>
                           
                          </div>
                          <div class="spacer2"></div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label redHatFontChecks" for="defaultCheck1">
                                Acepto los Términos y condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label redHatFontChecks" for="defaultCheck1">
                                Acepto recibir información por correo.
                            </label>
                          </div>
                      </form>
                      <div class="spacer2"></div>
                      <div class="row d-flex justify-content-center align-content-center">
                        <button type="button" class="btn btn-dark btnCrear">Crear</button>
                      </div>
                    </div>
                  </div>  
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>